            #first
            {
                color:black;
                background:yellow;
            }
h2{
    color:black;
    background:yellow;
}
#box
{
    background:white;
    width:500px;
    margin:100px auto;
    padding:50px;  
}
body
{
    background:#FAEBD7
}